<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>layoutFit</key>
    <string>ScrollCancelAssignTrusty</string>
    <key>cleanOpalViewport</key>
    <string>TypePoolDisplayEminent</string>
    <key>validReliefShader</key>
    <string>SnapshotterPieceMeasurePlain</string>
    <key>invitingTemplateUnit</key>
    <string>HelperAnalyzeControlBadge</string>
    <key>trueSurface</key>
    <string>ModifyPerformClassParse</string>
    <key>expandedSurfaceTransformer</key>
    <string>OriginalThrottleMajorAmid</string>
    <key>beneathRendererSuite</key>
    <string>TransformFillTopmostGenuine</string>
    <key>textureInsertMineDual</key>
    <string>FindCreativeShowInference</string>
    <key>distinctConverter</key>
    <string>WhisperWallSphereFlora</string>
</dict>
</plist>
