<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>atlasWise</key>
    <string>ConvertSweetOwlScroll</string>
    <key>terminalDefineBy</key>
    <string>SolutionCloseTagCascade</string>
    <key>selectorOpalCreative</key>
    <string>AggregateRuggedDaleHealthy</string>
    <key>modestAround</key>
    <string>SaverAdapterTypeCore</string>
    <key>saverRoyal</key>
    <string>PainterTimelyEpisode</string>
    <key>pathwayCollector</key>
    <string>DecentOntoGranularSpectrum</string>
    <key>vigorousSliceCollectionDuring</key>
    <string>InterpreterBreakPlanet</string>
</dict>
</plist>
