<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>scanTheme</key>
    <string>ToolbarPassageConfigure</string>
    <key>textureCancelQuintessentialDune</key>
    <string>FrugalTranslateDuskUpbeatProfile</string>
    <key>collectionSpiceRemoveConsistent</key>
    <string>WorldSeaNavigate</string>
</dict>
</plist>
