<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>applyResolver</key>
    <string>ThrottleConnector</string>
    <key>landscapePromptInside</key>
    <string>TopmostDelicateEmber</string>
    <key>privateDetail</key>
    <string>TimelessRouterGuidebook</string>
    <key>powerExpertStoreCreator</key>
    <string>WholeRecordMonitorDecode</string>
    <key>connectorTerminalPaintUnified</key>
    <string>PerimeterPleasantLuminousTimeless</string>
    <key>blockArtisticGateway</key>
    <string>FringeCatalogerModifyStorageImport</string>
    <key>collectionUnitAnalyzeQuiet</key>
    <string>SliceAssembleCatalogEnable</string>
    <key>resolverMultiply</key>
    <string>UpgradeMaskEnum</string>
</dict>
</plist>
