<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>aerialEmberDecorator</key>
    <string>PipelinePerformStagger</string>
    <key>organicBrookCreate</key>
    <string>DiamondWaitEnum</string>
    <key>matchHandler</key>
    <string>ShuffleStoneRouter</string>
    <key>converterDispatchArchiveLean</key>
    <string>NucleusRingBinder</string>
</dict>
</plist>
