<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>snapshotterIndexSlide</key>
    <string>TreatTargetJade</string>
    <key>decentPrairieUpdater</key>
    <string>EnqueueExtensionCalculate</string>
    <key>faintYieldingAcross</key>
    <string>FertileOnDeriveTheme</string>
    <key>visionStore</key>
    <string>EarthBackupTerminalStrike</string>
    <key>harmlessSong</key>
    <string>PainterSoundConsole</string>
    <key>snapshotterStretchPrimary</key>
    <string>TerseCollectionOrchestratorWith</string>
</dict>
</plist>
