<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>landscapeSublimeSpectrum</key>
    <string>LaunchProperStylerRepaint</string>
    <key>transformableOrderGrandFix</key>
    <string>SaverSubmitParse</string>
    <key>acceptDatasetViewport</key>
    <string>ScheduleMagicAppend</string>
</dict>
</plist>
