<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>transformableStretch</key>
    <string>LiberalPauseLaunchWide</string>
    <key>delicateQuotaBeyond</key>
    <string>TransformComposerFresh</string>
    <key>themeWinsome</key>
    <string>MarkOutlineRender</string>
    <key>timelineAcross</key>
    <string>PainterSummitFancyViewport</string>
    <key>anglePromptTimelineBind</key>
    <string>ObviousCacheDashboard</string>
    <key>scaffoldSelectIntact</key>
    <string>ConfigureMaskRustic</string>
    <key>emitterShaderReplayEarnest</key>
    <string>SubmitCalculateBinder</string>
    <key>outlineNamespaceConnectorMinimal</key>
    <string>NearConnectorPieceAssign</string>
    <key>searchShadowedIconPackReference</key>
    <string>CollectorJewelTreasure</string>
    <key>ontoCoordinator</key>
    <string>PathAgentConverterConfigure</string>
</dict>
</plist>
