<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>trainModular</key>
    <string>LooseKindMessageDisplay</string>
    <key>phoenixResizeOrganizer</key>
    <string>HazeCoordinatorRenderSync</string>
    <key>plannerTameCacheCoral</key>
    <string>TryCatalogerRemoveSkillWorkflowAnimator</string>
    <key>strengthTiny</key>
    <string>MatchCataloger</string>
    <key>merryDatasetter</key>
    <string>SpacerGraveAuroraReceive</string>
    <key>threadedPreloadPreloadRenderer</key>
    <string>ReferenceStencilSetLedgerStrike</string>
    <key>abundantExtension</key>
    <string>CacheBindBrilliant</string>
    <key>idleWorkflowAnimator</key>
    <string>TransformFastPortrait</string>
    <key>yearDecompressTimeline</key>
    <string>OrganizerShadowedFriendlyWith</string>
    <key>kindredProjectorSkyDecompress</key>
    <string>FairWithoutHandler</string>
</dict>
</plist>
