<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>iconRestoreEqual</key>
    <string>FormatWideFromIn</string>
    <key>quintessentialShaderReplayPassage</key>
    <string>SpatialCreativeVoiceHandsome</string>
    <key>schedulerBehindJungleUnified</key>
    <string>UpMigrateRenderer</string>
    <key>sourceLayoutSmartVerify</key>
    <string>LocatorDefineHiveProfile</string>
</dict>
</plist>
