<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>liberalShader</key>
    <string>ExtractTranslateTree</string>
    <key>improvedStartClassSage</key>
    <string>BufferCompareEnvelopeMap</string>
    <key>plannerFolder</key>
    <string>ByPersistSpectrumViewModel</string>
    <key>storyNeat</key>
    <string>PreloadSheetArtifact</string>
    <key>mapSnapshotterVisibleSpark</key>
    <string>ReadyCoderCollection</string>
    <key>toSnapshotterSky</key>
    <string>BrookDerivePalette</string>
    <key>interactivePaintThreadArray</key>
    <string>ModestEverydayBrilliantApply</string>
    <key>stylerExpand</key>
    <string>MindFleetPeerlessPause</string>
    <key>projectorFit</key>
    <string>ConverterStopSmooth</string>
    <key>woodNeutralConnect</key>
    <string>GladPaginateConverter</string>
</dict>
</plist>
