<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>languageAddSignerNotable</key>
    <string>UtmostRegionRegisterVessel</string>
    <key>storyTupleOddOff</key>
    <string>FabricMarkReceive</string>
    <key>logicMapperCuratedReceive</key>
    <string>KindCloseTenderPreload</string>
    <key>spontaneousRenderTreasureFabric</key>
    <string>PleasantMountainCanyonApply</string>
</dict>
</plist>
