<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>convertCreatorCoherentTrim</key>
    <string>FocalOptimalExtract</string>
    <key>workbenchPersist</key>
    <string>SuiteInitialTribeAccount</string>
    <key>animateOrchestratorSlide</key>
    <string>MemoryPortStencilMount</string>
    <key>comparePreciousOwnerChip</key>
    <string>HelperSteadyPositiveSearch</string>
</dict>
</plist>
