<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>exactBambooFinishPresenter</key>
    <string>AssetProtectDuskConsumeSplit</string>
    <key>gatewayRefined</key>
    <string>ComputeClassWildReference</string>
    <key>heathBinderOuter</key>
    <string>GridHelperAssignWave</string>
    <key>briefFacadeCable</key>
    <string>DownKindredUpon</string>
    <key>creativeStartPlaceClass</key>
    <string>LanguageEngineRegion</string>
    <key>brightArchiveParse</key>
    <string>AlcoveDetailVerifyQuietInside</string>
    <key>classNeatShow</key>
    <string>CurvyKineticThinHost</string>
</dict>
</plist>
