<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>overGentle</key>
    <string>ModifyAlertRadiant</string>
    <key>unifiedInsightReplaceStrategy</key>
    <string>FoldZoneDecodeStar</string>
    <key>pipelineOpal</key>
    <string>StrategyConsoleAssemble</string>
    <key>ownerDarkBurst</key>
    <string>WaitSnapNearMighty</string>
    <key>aroundGuidebook</key>
    <string>AccountControlTrackerDeliver</string>
    <key>stylerMessageDecode</key>
    <string>CacheLucidFeasibleAggregator</string>
    <key>yardBloomingEnum</key>
    <string>EnumComposerTenseIslet</string>
    <key>saverDetailDecompressDetailed</key>
    <string>UniqueWatchWrapper</string>
    <key>harmlessSigner</key>
    <string>SubmitRotatePleasedSaveBar</string>
</dict>
</plist>
