<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>releaseClass</key>
    <string>ReceiveDispatchBrave</string>
    <key>organizerFold</key>
    <string>ToolBindBalanceTimer</string>
    <key>strategyHonestIntoBoard</key>
    <string>LoadHostWave</string>
    <key>spiritPlannerCapture</key>
    <string>SunBlitheMajor</string>
    <key>legacyPrimalLimitCollection</key>
    <string>ElevatorSheetDriverCapture</string>
    <key>layerMerryPresenter</key>
    <string>AroundSnapshotAcross</string>
    <key>gatewayCelestial</key>
    <string>ObserverFeatherHandler</string>
    <key>compassWrapperForSteady</key>
    <string>WreathVerifyRidgeJubilant</string>
    <key>latticeWithout</key>
    <string>BorderPipelineCoderAlignment</string>
</dict>
</plist>
