<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>converterLocalizeStone</key>
    <string>FloraReferenceViaMake</string>
    <key>standRead</key>
    <string>FinishDropdownRouterWilling</string>
    <key>trackerFringeTonal</key>
    <string>GladeLeafHandle</string>
    <key>brokerScopePaginateTopmost</key>
    <string>HostBridgeAssetStrength</string>
    <key>menuConnectorOrnate</key>
    <string>ConsolidateLucentCircuit</string>
    <key>atNascentHarness</key>
    <string>SpiritCoordinateWord</string>
    <key>hideTiny</key>
    <string>SelectorCoordinatePositivePrompt</string>
</dict>
</plist>
