<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>mistTimelyFormat</key>
    <string>ArtifactDialogCenterPolishedOverlay</string>
    <key>looseRendererImplementSequence</key>
    <string>KernelDetailGatewayCancel</string>
    <key>swirlCompactifiedOrchestrator</key>
    <string>SeamlessShore</string>
    <key>sequenceHandy</key>
    <string>ConverterSnowVocal</string>
</dict>
</plist>
