<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>provisionMountParserMobile</key>
    <string>ConductorSpanTagBrisk</string>
    <key>positiveStrategyScatterRadar</key>
    <string>StoneBalancerManagerStrike</string>
    <key>tulipImport</key>
    <string>CalibrateRefinedCascadeCapture</string>
    <key>binderAbove</key>
    <string>SplitFeaturePresentPaint</string>
    <key>gridHardySaver</key>
    <string>ZonalMoveHappyThrottleFix</string>
</dict>
</plist>
