<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>byTerminal</key>
    <string>ExpandSelfOrnateInterpreterReference</string>
    <key>joyfulPastCatalogerInspector</key>
    <string>ConfigurePastClearViewportPrimary</string>
    <key>acrossShader</key>
    <string>DeliverContinueHide</string>
    <key>curatedOrchestratorPresentAlcove</key>
    <string>OakenSteadyCelestialParadise</string>
    <key>viaCore</key>
    <string>TextOrchestratorUpgrade</string>
    <key>clusterPlannerInteractiveShadow</key>
    <string>DismissCascadeTimelineModalReflect</string>
    <key>captureMarshNotableConnector</key>
    <string>ResizePrimeArchiveModest</string>
    <key>cavernVocalSuite</key>
    <string>UnderReadyDevice</string>
</dict>
</plist>
