<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>classGuidebook</key>
    <string>AudioChannelCliffCrisp</string>
    <key>saverScale</key>
    <string>CivicKeeperHide</string>
    <key>virtuousCatalogerMaterial</key>
    <string>PlainPathwayPhoenixFrom</string>
    <key>summitPlayCarefreeBuilder</key>
    <string>InterpreterSereneLockWorkflowAnimatorHandler</string>
    <key>setCohesiveInlet</key>
    <string>GradientMapRecordCohesive</string>
    <key>viewModelNativeContinue</key>
    <string>PlannerFontSave</string>
    <key>symmetricFixMaterial</key>
    <string>VineClusterClose</string>
    <key>splendidDecompress</key>
    <string>ArrayForwardContinueCollection</string>
    <key>wiseStencilFramework</key>
    <string>WishSnapshotValidGetStripe</string>
    <key>resumeGrandPearlHeader</key>
    <string>OwlTreasure</string>
</dict>
</plist>
