<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>timelineGiftedMigrateAudio</key>
    <string>OrchardGenerousThroughoutTemple</string>
    <key>junctionJade</key>
    <string>FacetTranslateElemental</string>
    <key>spatialInterpreterTooltipRound</key>
    <string>ConnectorHardTransformBefore</string>
    <key>gracefulShadowTexturePearl</key>
    <string>HighlightIncrementalCivic</string>
</dict>
</plist>
