<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>cautiousReceive</key>
    <string>ViewModelWidescreenRelaySpectrum</string>
    <key>naturePlanner</key>
    <string>MoveStoryFine</string>
    <key>naturalAccelerateFeature</key>
    <string>HumbleBalancedHearty</string>
    <key>scenarioCollectorNatural</key>
    <string>LogicOrder</string>
    <key>neuralCreatorFileClean</key>
    <string>WildPlanet</string>
    <key>fromText</key>
    <string>SelfContinueScaleDraw</string>
    <key>enumGuidebookSort</key>
    <string>PrimaryPresentFontIcon</string>
    <key>createThreadedCoral</key>
    <string>WarehouseResizeDrawPresent</string>
    <key>insertSongFriendly</key>
    <string>LightMapTransformer</string>
</dict>
</plist>
