<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>converterFetch</key>
    <string>CollectionTransformerBrain</string>
    <key>feasibleDataSource</key>
    <string>SteamCloseSegment</string>
    <key>coreCompress</key>
    <string>TempleRestoreSilverOrchestrator</string>
    <key>revokeCrestlineHeader</key>
    <string>VerifyDeriveThroughout</string>
    <key>imageIdleSave</key>
    <string>GroupRadiantPhoenix</string>
</dict>
</plist>
