<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>neuralAcrossCataloger</key>
    <string>ReferenceWorkflowAnimatorAnalyzeAssign</string>
    <key>formatCandidViewModelQuirk</key>
    <string>HintedMatrixTheme</string>
    <key>snapshotterAgentFormat</key>
    <string>EndPersistFormat</string>
    <key>createCourier</key>
    <string>TinyPrintUrbaneDataSource</string>
    <key>systematicParser</key>
    <string>DawnDriveInside</string>
    <key>plannerDuringSplendidDelta</key>
    <string>SplashCacheTriumph</string>
    <key>dawnRelease</key>
    <string>ConfigMarkMoor</string>
</dict>
</plist>
