<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>organizerInResilient</key>
    <string>OrchestratorDialogPreload</string>
    <key>scaleFreshSnapshotter</key>
    <string>ParseGreenCoreComposite</string>
    <key>shadowAction</key>
    <string>PromiseProgram</string>
    <key>helperDocument</key>
    <string>SaverWorthyCompute</string>
    <key>routeConvertLarge</key>
    <string>OpalCoordinatorWait</string>
    <key>modalVerseFacade</key>
    <string>QualityPersistPosition</string>
    <key>queueKindPush</key>
    <string>WayRendererEndQuill</string>
    <key>solutionBelowFormal</key>
    <string>OffGroupUpdater</string>
    <key>keenSpace</key>
    <string>CollectorInsertGraveHeader</string>
    <key>instanceThoroughSignerConnect</key>
    <string>LegacyImprovedWorkflowAnimator</string>
</dict>
</plist>
