<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>decoratorYoungCache</key>
    <string>LiberalAggregatorBuildFabric</string>
    <key>preloadBlitheJungle</key>
    <string>AuroraDiameterImportSave</string>
    <key>islandGraveConverterStitch</key>
    <string>MapProtect</string>
    <key>pinCollector</key>
    <string>SaturatedMethodSandTrain</string>
</dict>
</plist>
