<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>indexCollectionAerialMultiply</key>
    <string>PageCompareRich</string>
    <key>stylerRoundSupplyIconic</key>
    <string>ScaleLightmapTimelineOdd</string>
    <key>oasisEnumTender</key>
    <string>TurnHarnessCaptureTexture</string>
    <key>workbenchNavigatorLiberalApply</key>
    <string>UpdaterTimerOriginLocatorProjector</string>
    <key>reflexiveRendererWithinTable</key>
    <string>LayoutUpdaterDigitalNavigate</string>
    <key>playfulParcel</key>
    <string>WideProgramRefreshReceive</string>
    <key>loadPresenterShadowed</key>
    <string>AtlasMapValidDefine</string>
    <key>extractFertile</key>
    <string>GlobeSchedulerFabricDecisive</string>
</dict>
</plist>
