<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>folderLayout</key>
    <string>SolarPrimeDeep</string>
    <key>fileTo</key>
    <string>ListviewWarehouseMove</string>
    <key>earthRefinedUpdaterAccept</key>
    <string>ToBeginMark</string>
    <key>stylerLean</key>
    <string>MeadowShare</string>
    <key>compactPositionSubmit</key>
    <string>TransformOffParserSave</string>
    <key>stencilOrnate</key>
    <string>MildAccelerateDecorator</string>
</dict>
</plist>
