<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>cleanCoreSubtle</key>
    <string>TransformableChartModern</string>
    <key>mapperOriginalLanguage</key>
    <string>ClassDispatchSignerCoordinate</string>
    <key>modifySnappyThemeBlend</key>
    <string>HandlerRecordEvent</string>
    <key>uprightHorizonWorkbench</key>
    <string>ClassOwnerTransformerLayout</string>
    <key>aroundPainter</key>
    <string>SaverFetchSaverCarefreeTable</string>
    <key>lightProtectDecorator</key>
    <string>InitializeStormAssignOf</string>
    <key>showOriginalYearHandler</key>
    <string>FacetGroveRoundBind</string>
    <key>lakeCleanSecondary</key>
    <string>CoralOperatorPainterEndless</string>
    <key>decentWaitKeypath</key>
    <string>OpenResponsive</string>
    <key>composerReflexiveRow</key>
    <string>InterpreterRichBufferComposer</string>
</dict>
</plist>
