<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>compareGrid</key>
    <string>AssembleOptionQuiet</string>
    <key>primarySpiceReadPresenter</key>
    <string>StylerLaunchSystemEndless</string>
    <key>offTimelineIntuitiveReservoir</key>
    <string>PluginAtFlame</string>
    <key>suiteScaffold</key>
    <string>ManageCohesiveDecorator</string>
    <key>unifiedPause</key>
    <string>DownHandlerAgainstOasis</string>
</dict>
</plist>
