<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>richScrollCoordinator</key>
    <string>GradientSaverTheme</string>
    <key>parseSpiritedBalancerUtility</key>
    <string>StopNectarTwistMuse</string>
    <key>timelineNativeOrigin</key>
    <string>SyncWarmSnapshotterImmense</string>
    <key>thinTheory</key>
    <string>SeaPlannerSheetRead</string>
    <key>plainDeliverLayoutArtifact</key>
    <string>AudioDeriveSendBlend</string>
    <key>balancedRenderReservoir</key>
    <string>ModestLuminousDefine</string>
    <key>operandViewModelPrecise</key>
    <string>KineticProjectorTransformable</string>
    <key>briefSolar</key>
    <string>TimelineStormGenerateTactic</string>
    <key>snapshotterCozyImage</key>
    <string>EnumDocumentEdge</string>
    <key>rusticCacheLine</key>
    <string>MysticReadTerminal</string>
</dict>
</plist>
