<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>alcoveTuple</key>
    <string>VoiceWanderQueueShader</string>
    <key>delegateDecoderSecure</key>
    <string>AnalyzeStrongWallAccount</string>
    <key>briskTimeline</key>
    <string>LayoutSereneCreatorProtectFix</string>
    <key>roundEdgeMap</key>
    <string>ManifestScaleCluster</string>
    <key>themeIntuitivePrint</key>
    <string>AtListFertile</string>
    <key>trainFocused</key>
    <string>CreateSignatureRestoreSweet</string>
    <key>overPlugin</key>
    <string>GlobeOrganizerSubmitScheduler</string>
</dict>
</plist>
