<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>updaterStylerDetect</key>
    <string>SearchFairyDataSourceThemeValley</string>
    <key>woodIntactSaverSave</key>
    <string>PortalFactoryVibrant</string>
    <key>featherlightThemeForElemental</key>
    <string>CliffWavePainter</string>
    <key>notableAtlasDecoratorRead</key>
    <string>QuickTransformableStop</string>
    <key>paintMoorWarehouse</key>
    <string>SelectReadyFondFind</string>
    <key>sheetThrottle</key>
    <string>DelicateDuringButton</string>
    <key>terminalLegacyAbundantOn</key>
    <string>YearAgentEtherealGladeBright</string>
</dict>
</plist>
