<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>brookDataSource</key>
    <string>TryEqualTool</string>
    <key>resolverPastSheetReady</key>
    <string>ParseBirchAgainstUnder</string>
    <key>wittyPresenterWander</key>
    <string>BeginTooltipMapper</string>
    <key>genuinePoplarFind</key>
    <string>LayoutSandPlayIntact</string>
    <key>fleetingEdgeMapDeliverFabric</key>
    <string>BesideRareOperand</string>
    <key>transformerIntimate</key>
    <string>PreviewTimerTender</string>
    <key>calmAt</key>
    <string>CreateMysticStopWatch</string>
    <key>untilDapper</key>
    <string>TupleToUnity</string>
</dict>
</plist>
