<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>steamFinishBrokerDistant</key>
    <string>AfterViewportHandsomeShow</string>
    <key>refreshLeaf</key>
    <string>BrilliantDefineDashboard</string>
    <key>watchModelArray</key>
    <string>WidgetLogicOnto</string>
    <key>policyBuilder</key>
    <string>MoveThroughoutObjectAlert</string>
    <key>digitalFetch</key>
    <string>InAccelerateTactful</string>
    <key>selectBalancedScrollResolver</key>
    <string>WorkflowAnimatorTeamExpandWith</string>
    <key>snapshotterEnergetic</key>
    <string>FairTruthMightTexture</string>
    <key>sortCelestial</key>
    <string>ByCoreCoherent</string>
    <key>resetCatalogerIsland</key>
    <string>CreateSuperOver</string>
    <key>joyfulDataSourceConvertMapper</key>
    <string>WorkbenchShuffleBaselineOutlined</string>
</dict>
</plist>
