<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>byTallRangeStencil</key>
    <string>ApplyOrchestratorChasm</string>
    <key>passiveTupleFlame</key>
    <string>StorageConsolidateIconPack</string>
    <key>binaryHeroicConverterShow</key>
    <string>PlushLocalizeCalculateExtractMode</string>
</dict>
</plist>
