<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>handlerColumnIconic</key>
    <string>PreciousStackWinsomeOwnerAccess</string>
    <key>litheFacadeQuirk</key>
    <string>ConduitPerimeterBlueprintBuilderRadiant</string>
    <key>tuneBinder</key>
    <string>ContrastingCoreTimer</string>
    <key>offsetThin</key>
    <string>FlukeMirror</string>
    <key>graciousCheck</key>
    <string>TranslateGreatFeatheredBefore</string>
</dict>
</plist>
