<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>classSummitWait</key>
    <string>EvenBrokerCreate</string>
    <key>closePresenter</key>
    <string>MonitorBrookValidatorCoder</string>
    <key>composerMarsh</key>
    <string>DistinctiveRavenHorizonBreak</string>
    <key>selectUrbaneDefine</key>
    <string>ArtifactReferenceMaskLogic</string>
</dict>
</plist>
