<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>volumeWith</key>
    <string>ViaRegisterPetal</string>
    <key>delegateVerifyIslandZonal</key>
    <string>JungleRadiantRareModule</string>
    <key>stencilAnimateFertile</key>
    <string>NotebookLandscapeAppend</string>
    <key>beaconConfigure</key>
    <string>DispatchSendPassageIndex</string>
</dict>
</plist>
