<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>writeMerit</key>
    <string>FineSend</string>
    <key>moveEliteBlueprint</key>
    <string>ElevateOfAt</string>
    <key>retreatClassBehind</key>
    <string>ReplayStandOrderUniversal</string>
    <key>conduitWildWorkbench</key>
    <string>ConvertConstructBrain</string>
    <key>abundantPauseRendererOpal</key>
    <string>DriverSaveStencil</string>
</dict>
</plist>
