<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>oddAcross</key>
    <string>FormatterThemeSprite</string>
    <key>suiteRotateDual</key>
    <string>SplitTextureUpdater</string>
    <key>consistentVoyageDecompress</key>
    <string>LayoutWideTranslateInitial</string>
    <key>dismissFeatureHumaneParser</key>
    <string>BeforeWittyReplay</string>
</dict>
</plist>
