<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>peerlessReplay</key>
    <string>FolderUtilityToolbarFragment</string>
    <key>limitMinimalSelector</key>
    <string>AmongPreciousDiscreteGateOff</string>
    <key>mightPrimaryUponController</key>
    <string>CatalogVisualizeSunnyRadiant</string>
    <key>dismissSpirit</key>
    <string>ParseFondRestLegacySilver</string>
    <key>reservoirComposer</key>
    <string>CreativeArtifactStyle</string>
    <key>seaScaleMobile</key>
    <string>FlameIndexVisualizeArtifact</string>
    <key>energeticGroupAmidConductor</key>
    <string>FolderMenuMajor</string>
    <key>updaterQueueFindKindred</key>
    <string>DatasetViewportMarkIntact</string>
</dict>
</plist>
