<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>formatterAmongTactfulPathway</key>
    <string>NavigationBarByPromptStorm</string>
    <key>withTemplatePlainHill</key>
    <string>LayoutBalancerDraw</string>
    <key>templeAssignRefinedTimeline</key>
    <string>FloraStencilSurgeWorkbenchGrid</string>
    <key>decentTop</key>
    <string>TransformableIsletDefine</string>
    <key>treeBulky</key>
    <string>StoreTrustyMark</string>
</dict>
</plist>
