<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>analyzeTextureEmber</key>
    <string>HazeLockMindOptimize</string>
    <key>downBuilderOriginInfinite</key>
    <string>OverRuggedizedOptimizeIn</string>
    <key>journeyVocalVisualize</key>
    <string>PastRotateClip</string>
    <key>iconPackBoldViewModel</key>
    <string>AccessUpShape</string>
    <key>byScenario</key>
    <string>SimpleResizeSilent</string>
    <key>buildImplementModuleViable</key>
    <string>EnqueuePlannerRendererSound</string>
    <key>livelyConnectorSkillFrom</key>
    <string>EndConsolidateStar</string>
</dict>
</plist>
