<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>northAbsolute</key>
    <string>SpiceSelectorDecode</string>
    <key>offDatasetterSwift</key>
    <string>NaturalTerminalLively</string>
    <key>iterativeRelease</key>
    <string>ToastAlongsideDatasetOutline</string>
    <key>arraySpacerRunDefinite</key>
    <string>AnimateThroughInterpreterReliable</string>
</dict>
</plist>
