<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>shaderScalePrimal</key>
    <string>FlashChatMeasure</string>
    <key>collectorPlaySpringStrong</key>
    <string>YardHelperDecompressFixture</string>
    <key>cavernSchedulerJoyfulInsert</key>
    <string>CrownMapRavenGreat</string>
    <key>preciousDataSource</key>
    <string>FluentPortalConnector</string>
    <key>coreRenderUpright</key>
    <string>HorizonSelectSpace</string>
</dict>
</plist>
