<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>navigatorOrnateRotateAggregator</key>
    <string>UntouchedStretchReplaceTry</string>
    <key>coreLarge</key>
    <string>OfSiteSite</string>
    <key>coreHelixAfterTangible</key>
    <string>SpawnBuilder</string>
    <key>levelQuiet</key>
    <string>GatewaySignerCrestline</string>
    <key>transformRouterReflexive</key>
    <string>ShellGatewayPastPush</string>
    <key>deviceFacade</key>
    <string>AgileRangeAtomic</string>
    <key>ledgerComposerTrimComplex</key>
    <string>VisitorGuideSuiteTrend</string>
    <key>checkBalancer</key>
    <string>BeforeBeyondSaverCancel</string>
    <key>facadeStand</key>
    <string>RevokeProviderDocumentMap</string>
</dict>
</plist>
