<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>binderConvert</key>
    <string>IterativeKeySpoke</string>
    <key>offShortcutAssemblerOaken</key>
    <string>BeyondBroadConduitPearl</string>
    <key>implementInside</key>
    <string>BracketUpwardYield</string>
    <key>binderMacro</key>
    <string>ReplacePlayConverterAt</string>
    <key>everydayWrapper</key>
    <string>ExpandProudStableCoordinator</string>
    <key>manageSeasonalDecoratorAnimate</key>
    <string>IntervalFabricFree</string>
    <key>observerDaintyGorge</key>
    <string>VoiceOutlineWisdomSlope</string>
</dict>
</plist>
