<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>controllerLoadCreatorSmooth</key>
    <string>LooseBeginWeave</string>
    <key>mapperLaunchFit</key>
    <string>HandleLibraryCompressSaver</string>
    <key>manageElevate</key>
    <string>PresentBuilderCohesiveInsert</string>
</dict>
</plist>
