<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ownerFixProjectorMighty</key>
    <string>StrategyCrestlineSuite</string>
    <key>syncVibratingForward</key>
    <string>ReplaceSelectComposerDistinct</string>
    <key>workbenchInsertCrossVictorious</key>
    <string>SourceProjectDelegateGenerate</string>
    <key>hardyTribe</key>
    <string>AcceptParameterClipBinder</string>
    <key>facadeUrbane</key>
    <string>PrimalInPleasedBeyond</string>
</dict>
</plist>
