<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>monitorGlimpse</key>
    <string>CoreToolbarShimmering</string>
    <key>softInterpreter</key>
    <string>SoftenedWaveformNatural</string>
    <key>mightReleasePipelineOrderly</key>
    <string>DetectMindSuiteErrorSort</string>
    <key>pathFleetingSignerBlend</key>
    <string>AssetHilltop</string>
</dict>
</plist>
