<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>wingMonitorSecureReceive</key>
    <string>LogicTwistController</string>
    <key>quietPreview</key>
    <string>WorkSort</string>
    <key>enumAlertBind</key>
    <string>DownTallTransformable</string>
    <key>compareParametric</key>
    <string>FreeMindHilltopTameJungle</string>
    <key>shuffleStencilNovelCollection</key>
    <string>EnqueueEnableFrost</string>
    <key>coreFrame</key>
    <string>ParadiseSourceAgile</string>
    <key>directSamplePanelPainter</key>
    <string>ManageCoordinateForDelicate</string>
    <key>mildRefreshModuleDefine</key>
    <string>ConverterLimitFaithful</string>
</dict>
</plist>
