<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>giganticTransformable</key>
    <string>WorkbenchUpLucidFormatter</string>
    <key>aerialDepotGatewaySlice</key>
    <string>RegisterBrilliantlyBackupLabel</string>
    <key>thicketShimmeringDraw</key>
    <string>PainterFilledParserBesideInterpreter</string>
    <key>localizeCore</key>
    <string>SteamFeatherlightInterpreterOwner</string>
    <key>enrichJovialFacade</key>
    <string>FileBrokerHide</string>
    <key>freshDalePastAssembler</key>
    <string>CoralScenarioPeerlessRange</string>
    <key>oasisDecodeTerse</key>
    <string>RandomizeRouterHeroicRegistry</string>
    <key>zoneOrchestratorIconic</key>
    <string>PlannerLocalizeAcceptDetailed</string>
</dict>
</plist>
