<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>fluentEndConsoleCollector</key>
    <string>AssemblerClearThrottle</string>
    <key>creatorValidQueryDeliver</key>
    <string>InsertTransformableTypeHelper</string>
    <key>reflectOwnerRestore</key>
    <string>VerseAlongsideIslandWith</string>
    <key>connectVenture</key>
    <string>AtlasMapCentralWorkbenchDrop</string>
    <key>hintedRunReference</key>
    <string>PersistStyleOcean</string>
    <key>tooltipDeriveImmense</key>
    <string>DecodeMapAdaptiveMake</string>
    <key>mediatorResolverIndexLuminous</key>
    <string>WholeOutsideGenerous</string>
    <key>assembleMapper</key>
    <string>OrchestratorSincereBySpirit</string>
    <key>mapLoyalDelta</key>
    <string>TabbarKeeperConvert</string>
</dict>
</plist>
