<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>resourceTranquil</key>
    <string>OrganizerInsertCore</string>
    <key>directoryTall</key>
    <string>SolutionSaveDriverFacet</string>
    <key>lushIntoOwlSurface</key>
    <string>SilentPlannerUniqueFond</string>
</dict>
</plist>
