<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>signerReplay</key>
    <string>HideExoticInformation</string>
    <key>mindStencilOpen</key>
    <string>PathwayPassageOffVolume</string>
    <key>colorInitializeImplement</key>
    <string>SurfaceGladMark</string>
    <key>builderDeriveTonalAlert</key>
    <string>PresentFreshFrameTrend</string>
</dict>
</plist>
