<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>intoIvorySystem</key>
    <string>QualityWreathControl</string>
    <key>airySetCollectionShortcut</key>
    <string>SaverSignerThorn</string>
    <key>neatSubmitSongSigner</key>
    <string>ScrollReorderBehind</string>
    <key>checkPlannerHarmless</key>
    <string>EqualReferenceHold</string>
    <key>warpRouter</key>
    <string>SpotCascadeSkillStone</string>
    <key>connectorRunWalkCoherent</key>
    <string>ConverterHillFluentKeyframe</string>
    <key>ravenSuite</key>
    <string>ConvertComputeGroup</string>
</dict>
</plist>
