<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>relayWinsomeBuilder</key>
    <string>LaunchFleet</string>
    <key>vinePipelinePrintFit</key>
    <string>FloraTextBuild</string>
    <key>fitPrairieNearHelper</key>
    <string>ViaMixerTexturePainter</string>
    <key>writeVoyageClassSeasonal</key>
    <string>LayoutNearSelectHighlightedTide</string>
    <key>pushEnvelopeMonitor</key>
    <string>SliceGlobeOfMighty</string>
    <key>frostIndex</key>
    <string>WillingPlannerManage</string>
</dict>
</plist>
