<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>steadyBeginStayValidator</key>
    <string>ManagerStrategyOwner</string>
    <key>haloHideBalancer</key>
    <string>CaptureWorkbenchCoordinator</string>
    <key>binderCascadeEnergeticOasis</key>
    <string>BesideSuiteSpiral</string>
    <key>ownerModestToolbar</key>
    <string>WiseAlignPointParserRouter</string>
    <key>helperEqualLoopMap</key>
    <string>BloomPrimaryWatchMighty</string>
    <key>handlerDefiniteReturnWalk</key>
    <string>TagStackOrchestratorRouter</string>
    <key>solidPresent</key>
    <string>ConfigureBinder</string>
    <key>atomicPlannerAsset</key>
    <string>SortRobustStripeTransform</string>
    <key>compassHonest</key>
    <string>ModifyWeightlessLandscapePresentModal</string>
    <key>searchFactory</key>
    <string>AnimateProvisionWaitCarefree</string>
</dict>
</plist>
