<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>transformPrudentTransformableLandscape</key>
    <string>FormatterCalibrateSelfSilent</string>
    <key>presenterSlateEnqueue</key>
    <string>BridgeFacadeSpot</string>
    <key>delegateUntouchedTurn</key>
    <string>JubilantStretchGatewaySlateExport</string>
    <key>managerLimitEndlessCounter</key>
    <string>ComposerStorySplit</string>
    <key>instanceClipLight</key>
    <string>ToastProviderRegistry</string>
</dict>
</plist>
