<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>collectionCrystalElementLayer</key>
    <string>CozyReplayReplace</string>
    <key>restoreCard</key>
    <string>HeightVictoriousVisualize</string>
    <key>strengthEasyThrough</key>
    <string>WildStaggerRestoreEnable</string>
    <key>senseAcrossModalPresenter</key>
    <string>TimelyCompressVitalAttachShadow</string>
    <key>greenFabric</key>
    <string>ObserverArenaEarth</string>
    <key>aboveObserverScopeGifted</key>
    <string>LocalizeBlitheExtractHandler</string>
</dict>
</plist>
