<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>painterUnitySignatureWait</key>
    <string>DispatchMomentPreciseFabric</string>
    <key>cliffAccurateSelectSigner</key>
    <string>ArtifactLeapDarkCable</string>
    <key>collectionGraceful</key>
    <string>EmitterRefreshLayer</string>
</dict>
</plist>
