<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>heathGraciousAmidOwner</key>
    <string>RotateBinderSpot</string>
    <key>trackerDiffuseAdaptiveQueue</key>
    <string>ArenaOrganizerOwner</string>
    <key>referenceBeside</key>
    <string>ArenaParseJasperFriendly</string>
    <key>everydayTreeReplace</key>
    <string>FaintMerryStreamCatalogerPrivate</string>
    <key>textClassOriginalAmong</key>
    <string>AlignHostMonochromeBelowPreview</string>
    <key>systemCenterEnumBrilliant</key>
    <string>TallSongMarsh</string>
    <key>patternedCatalogConnector</key>
    <string>ReservoirMergeSurface</string>
</dict>
</plist>
