<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>surfaceFleet</key>
    <string>ViewModelDrawOperator</string>
    <key>datasetterRestore</key>
    <string>BinaryModalLayoutSpectrum</string>
    <key>rowSeamless</key>
    <string>FinishCoralSync</string>
    <key>presenterSpeckledOutline</key>
    <string>HoneyMapperShaderWellFlexible</string>
    <key>preloadQuick</key>
    <string>WorkbenchIndexVia</string>
    <key>boldArrayPackage</key>
    <string>IntimateHeight</string>
</dict>
</plist>
