<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>unifiedConnectSelector</key>
    <string>BeyondSilverWreath</string>
    <key>downSphereNeutralShader</key>
    <string>TimelineRegisterFluke</string>
    <key>carefreeArrayRestoreChip</key>
    <string>ApplyCanvasInspector</string>
    <key>spriteAblePresenter</key>
    <string>MatchWorkbenchToastEpisodeAerial</string>
    <key>visibleTurnCollectorRecord</key>
    <string>ParametricSendEasy</string>
    <key>rendererOnHistoryDense</key>
    <string>MarkAboveDismissStrength</string>
    <key>universalRegionImport</key>
    <string>BuilderPlainWhisper</string>
    <key>templateCreatorImprovedRound</key>
    <string>ContextUpgradeMeasureAccelerate</string>
    <key>concurrentBuilder</key>
    <string>TransformableHeightEnumUnder</string>
</dict>
</plist>
