<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>diagramWiseThemeAnimate</key>
    <string>MagicNearAppBarGiftedCoordinator</string>
    <key>splitDurableFabric</key>
    <string>ConfigureLastingVocalReplace</string>
    <key>pureConductor</key>
    <string>ShaderSongStart</string>
    <key>circuitSublime</key>
    <string>RemoveRotateLockRenderer</string>
</dict>
</plist>
