<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>symmetricCollectorAngleAmong</key>
    <string>KindredOutlinePrism</string>
    <key>nearSteadyWinterOrganizer</key>
    <string>TransitLoyalTupleTulip</string>
    <key>objectBulkySaver</key>
    <string>OwnerTransformableSpectrum</string>
    <key>defineList</key>
    <string>FrameworkIncrementalAt</string>
    <key>signerShuffleOperand</key>
    <string>AlignEnableInitializeNearTranslate</string>
    <key>primaryBundle</key>
    <string>PixelIsletDecoderIdeal</string>
    <key>directSchedule</key>
    <string>WithinSongStoreAroundPresent</string>
    <key>sternFacadeAmidElm</key>
    <string>RadarWhiteProfile</string>
    <key>ofCenterTrustedTransformer</key>
    <string>FindCompactLeaf</string>
    <key>poolNeat</key>
    <string>UpdaterExtensionSublimeBy</string>
</dict>
</plist>
