<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>transformerDeriveComposerTimeless</key>
    <string>AnimateFilledShape</string>
    <key>quickHeathStylerRead</key>
    <string>FactoryDocumentFill</string>
    <key>resizeSchedulerUpdaterHealthy</key>
    <string>VerifyRevokeHeaderAlign</string>
    <key>stylerUtmost</key>
    <string>StartFileMatchInsert</string>
    <key>iconEnableHandyWorkflowAnimator</key>
    <string>LatticeResolverJadeWorkflowAnimatorSage</string>
    <key>beneathHeaderPleasant</key>
    <string>RefreshStepChiefLedge</string>
</dict>
</plist>
