<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>delegateThroughEdgeMapFirm</key>
    <string>CrestNascentSynchronizer</string>
    <key>compositePrairie</key>
    <string>GeneratePortalTransformerCompute</string>
    <key>toolbarSnapshotter</key>
    <string>ReferenceFacetReflectFormatter</string>
    <key>compareTimer</key>
    <string>ResponsiveQuintessentialAgent</string>
    <key>connectListviewRenderer</key>
    <string>ConvertAcrossTorchDurableTemplate</string>
</dict>
</plist>
