<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>buildDelegateReactiveCoder</key>
    <string>TowerLanguageTabviewShader</string>
    <key>guideDismissDecoratorGenerous</key>
    <string>SurgeEntryProjectorResponsive</string>
    <key>multiplyDelta</key>
    <string>ResolverSoftHiveGlobal</string>
    <key>idlePreview</key>
    <string>ScenarioPaintIndex</string>
    <key>jungleDatasetterShowSoft</key>
    <string>ValleyTextureAssemblerSend</string>
    <key>decentCoreSand</key>
    <string>IndexWorkflowAnimatorInsightHive</string>
    <key>appendCarefreeSaverPackage</key>
    <string>InsideMaskOptimize</string>
</dict>
</plist>
