<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>rowFix</key>
    <string>LaunchLaunchUpdaterFor</string>
    <key>binderSmart</key>
    <string>NectarMountBuilderInside</string>
    <key>sweetUpdaterCompressSlice</key>
    <string>AssetAcceptSweetIncremental</string>
    <key>lucidCollector</key>
    <string>VisualizeTagWoodPainter</string>
    <key>faintBareGetPlanner</key>
    <string>VoyageYoungLayout</string>
</dict>
</plist>
