<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>cancelCoordinator</key>
    <string>MagicInsertStrong</string>
    <key>pageCarefreePaginate</key>
    <string>EndlessObjectNorthSuite</string>
    <key>packDatasetter</key>
    <string>PointOverlayDefineBy</string>
    <key>topmostValidateSurface</key>
    <string>DefinedCounterOrganizer</string>
    <key>nascentChartOutline</key>
    <string>CarefreeSuiteImmense</string>
    <key>workflowAnimatorUniversalAlongTreasure</key>
    <string>LandDirectStylerMixer</string>
</dict>
</plist>
