<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>stoneMarkTimely</key>
    <string>SunAssembleResolver</string>
    <key>trailByExpandedWorkflowAnimator</key>
    <string>TransformableRuggedWithinCollectionHeader</string>
    <key>legacyRenderShader</key>
    <string>InfiniteTuplePaintAerial</string>
    <key>accurateTransformerWait</key>
    <string>AttachTextureRepaint</string>
</dict>
</plist>
