<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>arrayHide</key>
    <string>EnqueueConvertClose</string>
    <key>twistDynamicBuilderStore</key>
    <string>PipelineRainInitializeEnum</string>
    <key>curvyPresenterAcrossTreat</key>
    <string>MarkRoundedDuneBasinConverter</string>
    <key>uprightReference</key>
    <string>LegacyFlameBrainComposeGenerate</string>
    <key>notableExpandCoordinatorArray</key>
    <string>EnumBeyondPragmatic</string>
    <key>balancerSage</key>
    <string>KindUtilityReal</string>
    <key>dismissWidget</key>
    <string>UpBalancerAttachBy</string>
    <key>diagonalWait</key>
    <string>CalculateThoroughDown</string>
</dict>
</plist>
