<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>unifiedImplementMountDevice</key>
    <string>UponFormatterHideReceive</string>
    <key>painterJasper</key>
    <string>SteadyPaginateGoodThread</string>
    <key>scrollSunGeometric</key>
    <string>ObserverPresenterPreview</string>
    <key>focusedSequence</key>
    <string>StoreMeasureStagger</string>
    <key>packEmitterSculpted</key>
    <string>DaleReadInterpreterRest</string>
    <key>expertConstruct</key>
    <string>RotateScenarioRateMap</string>
</dict>
</plist>
