<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>rareSubmit</key>
    <string>AccurateCalibrateOperatorLeap</string>
    <key>willingRateBalancer</key>
    <string>WarehouseAgainstLevelCheckLocator</string>
    <key>assemblerAssignColorThin</key>
    <string>WorkbenchMakeAudioVivid</string>
</dict>
</plist>
