<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>wittyWater</key>
    <string>RestoreOasis</string>
    <key>backupFabricForSincere</key>
    <string>IntenseRecordMake</string>
    <key>centerJubilant</key>
    <string>PresenterDiagonalMagicConsumeLimit</string>
    <key>factoryMove</key>
    <string>RegistryTopFetchPerform</string>
</dict>
</plist>
