<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>resolverWidescreen</key>
    <string>MarshCreateSlipFine</string>
    <key>growingTranslate</key>
    <string>VividTryWorkbenchScheduler</string>
    <key>oceanFromHumbleShader</key>
    <string>PreciseMediatorTransformerFlat</string>
    <key>friendlyLayoutErrorPlanner</key>
    <string>PostboxPreviewPresentElemental</string>
    <key>reflectSave</key>
    <string>LucentWaitFacet</string>
    <key>pieceQuick</key>
    <string>BeginElevateShadow</string>
    <key>riverMapperRotateIdle</key>
    <string>JubilantSurfAction</string>
</dict>
</plist>
