<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>composerThroughOuter</key>
    <string>NavigateThroughCore</string>
    <key>connectDefine</key>
    <string>LayoutReturnToConnector</string>
    <key>structureSet</key>
    <string>SignerTransformer</string>
    <key>ivoryRiverModify</key>
    <string>ApplyDropdownFormatterSelectorConfigure</string>
</dict>
</plist>
