<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>tableShuffle</key>
    <string>ToGlobeMapper</string>
    <key>royalPlay</key>
    <string>RealHighlightValidateGenerator</string>
    <key>stylerClip</key>
    <string>CacheLineCleanWarehouseVisitor</string>
</dict>
</plist>
