<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>symbolSaverScalePrecise</key>
    <string>ClusterThornViewport</string>
    <key>spectrumPreciseFromNorth</key>
    <string>ShaderBindTiny</string>
    <key>memoryBegin</key>
    <string>SoundOntoLock</string>
    <key>setHandler</key>
    <string>PlatformResizeCompareOutput</string>
    <key>readySelectorFrom</key>
    <string>DecompressPositionTertiary</string>
    <key>calibrateCanvas</key>
    <string>CacheAccessHeader</string>
</dict>
</plist>
