<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>connectorStayTransform</key>
    <string>CalmFinishSnappy</string>
    <key>contextConcurrentHeaderOver</key>
    <string>WaitNavigateDialog</string>
    <key>slateRenderImplement</key>
    <string>UpParadiseTeam</string>
    <key>placeStylerSpeckledFind</key>
    <string>HoneyWithinLocalizeTo</string>
    <key>petalWidescreenSendFacade</key>
    <string>UntilShuffleIndexCache</string>
    <key>secondaryDeliverSaverMountain</key>
    <string>QuintessentialBySuiteTrim</string>
</dict>
</plist>
