<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>earthMobileSignerRender</key>
    <string>AgileStackBroadPresenter</string>
    <key>abstractAttach</key>
    <string>ForceEnableSoundMigrate</string>
    <key>localizePoint</key>
    <string>WhisperRemoveLimitMagical</string>
    <key>orchestratorWhisperUnified</key>
    <string>SymbolInterpreterOuter</string>
    <key>beneathFeasibleBinder</key>
    <string>MakeSubtleHandleParser</string>
    <key>holdForce</key>
    <string>AppendRouteBalancerPaintDefine</string>
    <key>cleverBuildProjectorEnum</key>
    <string>StoneConstruct</string>
</dict>
</plist>
