<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>unusualAlpine</key>
    <string>ThornDefinedAmong</string>
    <key>stripeForesightedHandler</key>
    <string>ThreadGladGroveAccept</string>
    <key>handyMagic</key>
    <string>FilledConverterDetect</string>
    <key>showConverterJourneyMagical</key>
    <string>PerformOperandRock</string>
    <key>litheStyler</key>
    <string>ObserverRareLaunchIcon</string>
    <key>viewWait</key>
    <string>OffsetToCable</string>
    <key>balancedAnchor</key>
    <string>MonitorSnapshotReplayUnusual</string>
</dict>
</plist>
