<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>bracketDefine</key>
    <string>CatalogerBroker</string>
    <key>interpreterMeasuredAssembleGeneric</key>
    <string>ModeCompactHide</string>
    <key>resizeOrganizerLiberal</key>
    <string>KindAvatarParserAggregateInteractor</string>
    <key>snappyCompare</key>
    <string>ShoreAlongHighlighted</string>
    <key>distinctiveTempleParserPast</key>
    <string>ConverterWeaveSpiritAnalyze</string>
    <key>randomizeLanguage</key>
    <string>QuietParallelAgent</string>
    <key>kineticFindYieldCollection</key>
    <string>EnvelopeContinueStretchSharpMove</string>
    <key>gatewayVisualizeThreadedSegment</key>
    <string>QuillBulkyDiffuseAggregator</string>
    <key>worthColorfulAttachCore</key>
    <string>StyleAlongPainter</string>
</dict>
</plist>
