<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>resolverBeyond</key>
    <string>LastingRadarGroveBlock</string>
    <key>forEnum</key>
    <string>AssembleFallsTableSynchronizer</string>
    <key>closeScope</key>
    <string>InSwirlElevatedInsert</string>
    <key>seamlessSuiteHorizon</key>
    <string>DefineFocusModeCompact</string>
    <key>intoPeak</key>
    <string>OptionRefreshLaunch</string>
    <key>painterLoad</key>
    <string>NotableContinueLockTranslate</string>
    <key>parcelIterativeWorkbench</key>
    <string>WaitDirectoryOverlay</string>
    <key>projectorMistInside</key>
    <string>ChartInMagic</string>
    <key>idleConsumeCataloger</key>
    <string>SearchDurableYieldBasin</string>
</dict>
</plist>
