<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>horizonReturnMain</key>
    <string>AfterCardAlongPreviewInset</string>
    <key>coreSeamlessLock</key>
    <string>PlayComposerBriefOwl</string>
    <key>markEnum</key>
    <string>BeginDismissVibrating</string>
    <key>ravenParserBelow</key>
    <string>LiberalPerformRestoreBegin</string>
    <key>fallbackConcurrent</key>
    <string>ConnectorSpawnDaintyFairyThrottle</string>
    <key>motionConnectorLarge</key>
    <string>TransitBrightFrameBalanced</string>
    <key>launchOptionBroker</key>
    <string>ParameterMightElasticArchiveCandid</string>
    <key>systematicFrom</key>
    <string>OutlineBinderWiseRandomize</string>
    <key>diffuseRoadmap</key>
    <string>DuringAddOntoSupply</string>
</dict>
</plist>
