<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>workbenchHaloDownMinimal</key>
    <string>TypeContinueMoveReplay</string>
    <key>monochromeBuilderEnableToolbar</key>
    <string>OpenWorkbenchCreatorPoolUntil</string>
    <key>suiteTreeConnect</key>
    <string>StemPostboxCore</string>
    <key>solarParserRandomize</key>
    <string>TrainSphereCapture</string>
    <key>sliceTransformableFolderExtra</key>
    <string>SwatchOverDominant</string>
    <key>historyRegistryClearMerry</key>
    <string>FairyMindFactoryCelestialBeside</string>
    <key>balancedReplaceInspector</key>
    <string>SuiteHandleCollectorHandle</string>
    <key>factoryBraveRestore</key>
    <string>ModifyParserMessage</string>
    <key>builderNeuralPool</key>
    <string>CatalogArtfulChipConsole</string>
    <key>oddStrategyStart</key>
    <string>AccountCompressRustic</string>
</dict>
</plist>
