<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>merryRevokeRay</key>
    <string>FillPreviewLoop</string>
    <key>beyondMargin</key>
    <string>BinderConductorWind</string>
    <key>valueFrom</key>
    <string>EqualSnowVoiceRemove</string>
    <key>lucidContourCompose</key>
    <string>ConverterQuickPainter</string>
    <key>handsomeSignatureCapture</key>
    <string>OwnerPatternedNamespace</string>
</dict>
</plist>
