<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>accurateStrikeRegistry</key>
    <string>VerifyGenericElm</string>
    <key>validateCivicEnumSolution</key>
    <string>SkyInReservoir</string>
    <key>balancerEndOptimal</key>
    <string>PleasantGlobeTrackerDefine</string>
    <key>removeModularDocumentWrapper</key>
    <string>DeltaRoundedHelperHub</string>
</dict>
</plist>
