<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>aboveBroker</key>
    <string>CompatibleBrokerConsistentConductor</string>
    <key>painterTransformerPreload</key>
    <string>DecodeTooltipValidDigital</string>
    <key>willingAssemblerAnchorAnimate</key>
    <string>PerformEminentSuiteBinderOrganizer</string>
    <key>conductorHelix</key>
    <string>BalancedSelectAssemblerMild</string>
    <key>referenceOaken</key>
    <string>BuilderInteractorFactory</string>
</dict>
</plist>
