<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>projectSwatchClass</key>
    <string>ReturnComposerPaginateHaven</string>
    <key>operandContrastingMoveSaver</key>
    <string>AlignInitializeWeaveBindBalancer</string>
    <key>performHalo</key>
    <string>SelectorEclecticColorful</string>
    <key>stretchVoice</key>
    <string>LastingTopMatch</string>
    <key>coreClipBackup</key>
    <string>CoordinateRepaintContainer</string>
</dict>
</plist>
