<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>signerSnapIntactFlow</key>
    <string>SweetFertileTrusty</string>
    <key>workbenchFill</key>
    <string>BalancerCompareLayout</string>
    <key>decompressOwnerVenture</key>
    <string>DiffuseDiagramSync</string>
    <key>structureDispatchPipeline</key>
    <string>SuiteHappyWave</string>
    <key>quotaHardySetParser</key>
    <string>BannerReferenceSolution</string>
    <key>warmHistory</key>
    <string>PlannerIdealBinderPause</string>
    <key>outsideComplex</key>
    <string>StencilPerimeterFlexible</string>
    <key>renderLibraryNeatStyler</key>
    <string>ProjectCreateValuable</string>
    <key>animateConductor</key>
    <string>ProviderOpen</string>
    <key>balancerRecordJet</key>
    <string>SignerControlNovelDual</string>
</dict>
</plist>
