<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>rendererEnqueue</key>
    <string>AgainstDispatchOwnerScale</string>
    <key>payloadConfigure</key>
    <string>WirelessToMainUpdate</string>
    <key>translateCreator</key>
    <string>PreviewPreciseFillMerge</string>
    <key>buoyantAssignSpokeController</key>
    <string>FillSublimeDaleScheduler</string>
    <key>brokerStringScrollHonest</key>
    <string>ScrollPresentExportBadge</string>
</dict>
</plist>
