<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>initializeTopmost</key>
    <string>ElmWithCapture</string>
    <key>utmostAlongsideThreadDataSource</key>
    <string>ImplementMapPluginZonal</string>
    <key>lawfulTreat</key>
    <string>SpectrumMountPresentUp</string>
    <key>resizeDataSourceTransformerQuick</key>
    <string>BulkyStarForOffOutside</string>
    <key>stylerEveryday</key>
    <string>UnderBoundModestEminent</string>
    <key>implementReliableFragmentDispatch</key>
    <string>DefineClassicDecoratorDown</string>
    <key>creatorFast</key>
    <string>SpacerCompatibleCalibrate</string>
    <key>resolverCalmTulip</key>
    <string>MacroSuiteProvision</string>
</dict>
</plist>
