<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>delegateOutline</key>
    <string>ReferenceJubilantEnumDataSource</string>
    <key>controllerInitializeQuiet</key>
    <string>ConvertWordInitialize</string>
    <key>layoutUpdater</key>
    <string>ValidSourceKeyPassage</string>
    <key>placidWorkflowAnimator</key>
    <string>PresentRealmDirectLedgeHost</string>
    <key>truthBind</key>
    <string>ViewModelTransformableBehind</string>
    <key>alongsideSuiteCozyTactic</key>
    <string>SnapshotterHighlightOnto</string>
</dict>
</plist>
