<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>portTopmost</key>
    <string>BlueprintMuseSnow</string>
    <key>withoutControllerFree</key>
    <string>EntryDatasetterBindCrisp</string>
    <key>workbenchOptimizeGifted</key>
    <string>DurableAssemblerRenderer</string>
    <key>targetSchedulerPastWild</key>
    <string>TabviewStoreHealthy</string>
    <key>wallConnect</key>
    <string>TemplatePainterMightRange</string>
    <key>createBackupShadowedWorkflowAnimator</key>
    <string>ArrayEpisodeRevokeGlobe</string>
</dict>
</plist>
