<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>jubilantStylerStoreFertile</key>
    <string>FlagshipDuringResize</string>
    <key>wiseCompress</key>
    <string>DataSourceStopDecoder</string>
    <key>wideFacade</key>
    <string>GiganticValueLandscapeStore</string>
    <key>fieldPlainSelector</key>
    <string>ProgramSlipLibrary</string>
</dict>
</plist>
