<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>getPlugin</key>
    <string>StopCaptureKindred</string>
    <key>willowRealDelegate</key>
    <string>WorkflowAnimatorExoticBeaconPearlConverter</string>
    <key>timelySurfaceRain</key>
    <string>DrivePerformBesideDryCollector</string>
    <key>unusualOnTimeBuilder</key>
    <string>ToolbarFixtureBy</string>
    <key>holdTransformableCelestialGlobe</key>
    <string>CompactQueueDurableLegacySplendid</string>
    <key>refinedTuple</key>
    <string>PreloadHeightAlignWith</string>
    <key>aboveSteady</key>
    <string>AddWeightlessAbleMight</string>
    <key>canyonSelectorFix</key>
    <string>FertileUpdaterTextureConfigure</string>
    <key>radarPresenterHandle</key>
    <string>ViewportBreezyWisdom</string>
    <key>panelReplaySerene</key>
    <string>UniqueCoordinateFluke</string>
</dict>
</plist>
