<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>journeySchedulerDeriveNative</key>
    <string>ResolverProjectorOperandHubset</string>
    <key>workflowAnimatorSort</key>
    <string>SnapshotTooltipMind</string>
    <key>styleLitheFixWorkflowAnimator</key>
    <string>MagicHeightSearch</string>
    <key>labelAssemblerBreezy</key>
    <string>MakeBoundCreator</string>
    <key>baselineBalancer</key>
    <string>AnalyzeHeartySteelEnable</string>
</dict>
</plist>
