<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>assemblerVirtuous</key>
    <string>MaskControllerGorgeRegister</string>
    <key>pauseViewport</key>
    <string>DetectScaleLatticePaginate</string>
    <key>suiteDiscreteLogicThrottle</key>
    <string>DirectoryRegisterThrottleRegion</string>
    <key>corePathRefresh</key>
    <string>SaverVividSaver</string>
    <key>braveDistinct</key>
    <string>ShaderPresenterProvisionStyler</string>
    <key>provisionPaintGloriousTransformable</key>
    <string>DeviceForStreamSpirited</string>
    <key>agileHeader</key>
    <string>PoplarSunnyPlugin</string>
</dict>
</plist>
