<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>elasticController</key>
    <string>OwnerWorkflowAnimatorVisionPreview</string>
    <key>decoratorToolbarUltimateReset</key>
    <string>DatasetterPlaceSuite</string>
    <key>constructBrilliant</key>
    <string>DigitalHiveCacheLineViewModel</string>
    <key>receiveTameHeight</key>
    <string>TimelyChiefReactiveMarshScale</string>
    <key>moveDiagramConductorLush</key>
    <string>VisionExtraReturn</string>
    <key>sceneComposer</key>
    <string>WellYieldAnimateWavy</string>
    <key>idealSpringSpectrum</key>
    <string>FormatElementalDefinePackage</string>
    <key>workflowAnimatorDry</key>
    <string>ShuffleWaitSystem</string>
    <key>whisperPainterExactBeyond</key>
    <string>AroundInitializeSignature</string>
</dict>
</plist>
