<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>workflowAnimatorWrite</key>
    <string>SelectorCupertinoAcross</string>
    <key>alertSelectorCompactFormat</key>
    <string>AssignWithPool</string>
    <key>urbanTrendResolver</key>
    <string>TupleParcelExpand</string>
    <key>templateSpontaneousTactic</key>
    <string>SpeckledFactoryLock</string>
    <key>connectorReturnSternGeneric</key>
    <string>SelectorWithPreview</string>
    <key>symmetricTriumphAssignTheme</key>
    <string>SendDeliverLight</string>
    <key>treatWorkflowAnimatorHearty</key>
    <string>ResizeReliefJunction</string>
    <key>dismissSnapshotterWorld</key>
    <string>HelperCoordinateHandsome</string>
    <key>launchOwnerKeeper</key>
    <string>BesideLayoutBundleDawnStrength</string>
    <key>toComposerYear</key>
    <string>SignerPainterStory</string>
</dict>
</plist>
