<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>corePlain</key>
    <string>ZoneLayoutImportTrustWhite</string>
    <key>petalRefinedDatasetterBehind</key>
    <string>TerminalSafeTrend</string>
    <key>resizeCollection</key>
    <string>RecordThroughoutCompress</string>
    <key>notableFixOrder</key>
    <string>BeginTangibleModular</string>
    <key>documentPresenter</key>
    <string>TrainPrintOutlineClip</string>
</dict>
</plist>
