<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>jewelBare</key>
    <string>InContentSunny</string>
    <key>systemPauseThin</key>
    <string>SwirlCoreTrackerBadge</string>
    <key>translateStableBackup</key>
    <string>BrokerPortraitAlong</string>
    <key>unityOrganizerLeaf</key>
    <string>CreekLineTransformableScene</string>
    <key>beyondBasicField</key>
    <string>PresenterSliceManifest</string>
    <key>zestfulStylerStorm</key>
    <string>SimplePleasedAlongside</string>
</dict>
</plist>
