<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>moveSigner</key>
    <string>PreciousFabricWithout</string>
    <key>splendidSurfObserver</key>
    <string>RiverOptimizePresentLabel</string>
    <key>agileFacet</key>
    <string>NotableEasy</string>
    <key>connectorWorthyTrimGlobe</key>
    <string>AnalyzeExpandCenterEnd</string>
    <key>validatorSoftStencil</key>
    <string>TooltipScaleBeforeTranquil</string>
    <key>smartOpal</key>
    <string>TimerDiffuse</string>
    <key>crystalBinder</key>
    <string>PipelineValueBadgeOwner</string>
    <key>waitGladCoordinatorString</key>
    <string>GladeCommandSystemObserver</string>
    <key>coordinatorMagnet</key>
    <string>CoreWinsomeFleetOwner</string>
</dict>
</plist>
