<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>fieldAssemblerThroughBasic</key>
    <string>EndTurnReorder</string>
    <key>agentCoreHinted</key>
    <string>TrackerHumorDiagramCableDisplay</string>
    <key>directHubClearReference</key>
    <string>BufferParserAnimateCompactified</string>
    <key>giganticExotic</key>
    <string>HighlightAmongLayerPresenter</string>
    <key>replayFlukeFacadeWireless</key>
    <string>SaverOperatorBrokerSlatePainter</string>
    <key>fluentRegistryWanderBalance</key>
    <string>CourierCleanRound</string>
    <key>jungleSpatialStart</key>
    <string>AxisOptionBackupDisplay</string>
    <key>removeWrapper</key>
    <string>IndexScaleReferenceCoordinator</string>
    <key>agentRobust</key>
    <string>SignerFacetLoader</string>
    <key>connectorEnvelopeCentral</key>
    <string>CascadeBeyondCleanBeginOrganizer</string>
</dict>
</plist>
