<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>splitBracketProvider</key>
    <string>BindPrimalOpal</string>
    <key>winsomeSolar</key>
    <string>AmongConcurrentSaver</string>
    <key>gatewayMelodyDuring</key>
    <string>ImplementBlendShowEnable</string>
    <key>stackMixerEveryday</key>
    <string>TextureSetVia</string>
    <key>invitingTracker</key>
    <string>ClassExpandedCoderIntervalVoyage</string>
    <key>alcoveBinderReplayLean</key>
    <string>GlimpsePresentLockVision</string>
    <key>hideHandlerRockWeighted</key>
    <string>UpMergeReplaceKnack</string>
    <key>wittySequence</key>
    <string>ReorderOffsetPast</string>
    <key>interpreterVividDetectBrush</key>
    <string>BurstPackSkill</string>
    <key>circleLuminous</key>
    <string>PerformMajor</string>
</dict>
</plist>
