<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>classCohesive</key>
    <string>MarkerValleySnapshotterEtherealPosition</string>
    <key>dataSeamlessWarehouseVerify</key>
    <string>OrganizerFreshAngleOutput</string>
    <key>handyLayout</key>
    <string>WingCollectorQuill</string>
</dict>
</plist>
