<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>paginateContentWeightless</key>
    <string>SkyTreeHard</string>
    <key>coreSourceAgainstBroad</key>
    <string>TrainThrottleTemplate</string>
    <key>swiftOntoJunction</key>
    <string>FallbackWallSearchKnown</string>
    <key>continueGlobe</key>
    <string>ShaderPeerlessForwardTeamCore</string>
    <key>conductorDecompressWayBroad</key>
    <string>InsideAlong</string>
    <key>seasonalBackupFindHandler</key>
    <string>ShaderPaletteSprite</string>
    <key>alongsideHelperBreak</key>
    <string>NearSensorAfterUp</string>
    <key>systemMajor</key>
    <string>InSnowCivic</string>
    <key>zonalBoundVisitor</key>
    <string>OntoReadIconPack</string>
</dict>
</plist>
