<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>thickEnvelope</key>
    <string>BlockScopeEpisode</string>
    <key>painterSetPetite</key>
    <string>FeatureTurnInstanceReceive</string>
    <key>fertilePlaySigner</key>
    <string>SetSolutionStandBuilderSort</string>
    <key>speakDeliverLastingTerminal</key>
    <string>MountWaitControllerStripe</string>
    <key>optimizeVineSelectorFine</key>
    <string>DerivePortal</string>
    <key>whitePauseTrusty</key>
    <string>PresenterPrintContinueOntoText</string>
    <key>pathMildPlannerAcross</key>
    <string>OrchestratorVisitorDaintyAbove</string>
    <key>decisiveCompare</key>
    <string>ByStyleTerminal</string>
</dict>
</plist>
