<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>tenderTrimSubmit</key>
    <string>TrimGiganticMacro</string>
    <key>textureMarkSuper</key>
    <string>AcceptPresenterSteamTimeline</string>
    <key>weightlessConsolidateDefine</key>
    <string>InsideDriveRenderer</string>
    <key>eliteBeforePine</key>
    <string>ConductorListviewDialog</string>
    <key>reactiveHavenScheduler</key>
    <string>InFinishInside</string>
</dict>
</plist>
