<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>converterSendLocalPackage</key>
    <string>VerseUpgradeBeginAround</string>
    <key>layoutFeasibleContinue</key>
    <string>HandlerPreloadRefresh</string>
    <key>suiteOverlayCloseOaken</key>
    <string>DocumentDefinedCancel</string>
    <key>moveUpdaterInferenceArtful</key>
    <string>BoundWorthDecisive</string>
    <key>fillTeamPainterGranular</key>
    <string>MatchRouteDecompress</string>
    <key>rockTowardViewModel</key>
    <string>TertiaryRenderMarkerTransformer</string>
    <key>packageCreatorSeasonalVia</key>
    <string>HazeMakeWellAdd</string>
    <key>atomicConductor</key>
    <string>AddAlignCarefreeSuite</string>
</dict>
</plist>
