<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>previewPragmaticPage</key>
    <string>ThickClipAttach</string>
    <key>keenFaintCataloger</key>
    <string>SubmitIconPackAmidDiagram</string>
    <key>civicLocalizeTexture</key>
    <string>UpdaterNatureFill</string>
    <key>mediaMapperReturnFond</key>
    <string>NectarConductorTabbarMove</string>
    <key>bundleDeriveSupremeTemplate</key>
    <string>SiteConvertSplit</string>
</dict>
</plist>
