<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>projectorVia</key>
    <string>RemoveToastSurfaceReferenceDataSource</string>
    <key>transformableBonnyNavigationBar</key>
    <string>ShareAssetWood</string>
    <key>paintQuiet</key>
    <string>StayPearlAfterRender</string>
    <key>dispatchCoordinatorCareful</key>
    <string>SphereFormatterCanyonFrost</string>
    <key>vibrantCatalogerDuringArtifact</key>
    <string>PainterUnitPlacidOrchestrator</string>
    <key>resolverSpace</key>
    <string>ClosePreciseBlendInto</string>
</dict>
</plist>
