<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>buoyantHold</key>
    <string>SymbolCarefulHideHide</string>
    <key>steamLayout</key>
    <string>ResilientSpring</string>
    <key>obviousRegister</key>
    <string>InstanceSpectrumAlignBuilder</string>
    <key>decodeOrchestratorAvatarPrudent</key>
    <string>LuckyStretchStoreTexture</string>
    <key>iconicFillMapperInstance</key>
    <string>DriverImageTreasureApply</string>
    <key>textureSafeCache</key>
    <string>DetectCourierImportSet</string>
    <key>outlineSharp</key>
    <string>GuidebookAbstractBeneathPlayful</string>
    <key>viewportAccept</key>
    <string>SpriteBrokerJewelViewModelPaginate</string>
</dict>
</plist>
