<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>knownTransformableOn</key>
    <string>PointPreloadDaintyElevate</string>
    <key>findSheet</key>
    <string>ConnectBoldFetch</string>
    <key>folderExquisiteHandlerSubmit</key>
    <string>ZonalTwistHeroic</string>
    <key>untilGiganticRendererLayout</key>
    <string>OrderlySuiteFactoryAbove</string>
    <key>groupSupremeLaunch</key>
    <string>KineticTemplateJubilantPlacid</string>
    <key>warehouseLayoutSnackbar</key>
    <string>ResumeTemplateRemove</string>
    <key>createTall</key>
    <string>AfterTrimMemory</string>
    <key>layoutBy</key>
    <string>OffWaitUpdateDropdown</string>
</dict>
</plist>
