<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>minimalSurfaceRun</key>
    <string>PixelResolverDataSourceSurface</string>
    <key>harmonyEnumClip</key>
    <string>QuirkClearBlend</string>
    <key>tupleRelayPeerlessAcross</key>
    <string>SortTenseRegisterStop</string>
</dict>
</plist>
