<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>floraAssemblerTangible</key>
    <string>FactoryTuneSolutionInlet</string>
    <key>signerCancel</key>
    <string>WithPresentSwirlGlobe</string>
    <key>untilMinimalSignerGridline</key>
    <string>LaunchNearBalancer</string>
    <key>measuredPoplar</key>
    <string>YieldingFormatPlanner</string>
</dict>
</plist>
