<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>uprightJourneyPaint</key>
    <string>NaturalWorkflowAnimatorCacheModify</string>
    <key>workbenchVastPort</key>
    <string>GentleTerminalReportInto</string>
    <key>mountOrganizer</key>
    <string>SchedulerOrchestratorPetal</string>
    <key>updaterReliable</key>
    <string>DawnSeaPlacidBuilder</string>
    <key>chainDelicateScheduleFactory</key>
    <string>TideLinkPresenterInspector</string>
    <key>calculateSoft</key>
    <string>TenseSnowBase</string>
    <key>binderDrawFocus</key>
    <string>ShapeList</string>
    <key>extensionThemeAtomicRound</key>
    <string>AtlasMapConcurrentPragmaticKeypathOutline</string>
</dict>
</plist>
