<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>measureCoordinator</key>
    <string>GateTabbarPerformDelegate</string>
    <key>headerSelect</key>
    <string>DownDuringComposite</string>
    <key>keypathWorkflowAnimatorIdeal</key>
    <string>FillVerifyPackage</string>
    <key>enableRiverPresenterDual</key>
    <string>RoundStepConductor</string>
    <key>intactRestore</key>
    <string>RegisterAssignTransformable</string>
    <key>referencePureSegment</key>
    <string>FineDuringFinish</string>
</dict>
</plist>
