<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>presenterUrbane</key>
    <string>IntoHorizonUpNotebook</string>
    <key>tameWrapper</key>
    <string>SuiteVistaOrderlyNeural</string>
    <key>detectStage</key>
    <string>PlainHeathBuilderBelow</string>
    <key>behindSpice</key>
    <string>SplendidQuirkWillowBlend</string>
    <key>positiveReset</key>
    <string>HoneyMatchCivicDerive</string>
    <key>reorderClass</key>
    <string>PoolFragmentBinder</string>
</dict>
</plist>
