<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>classNeat</key>
    <string>AnimateCautiousFabric</string>
    <key>holdBarTransformableSpontaneous</key>
    <string>VisualizeObserverCalculateReactive</string>
    <key>matrixStoreTextured</key>
    <string>GenericAmongAmid</string>
    <key>scaleArtifact</key>
    <string>CycleGenerousBuild</string>
    <key>reportMildAssembler</key>
    <string>FaintOutlineWillowClarityStrategy</string>
</dict>
</plist>
