<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>queueLivelyBesideConnector</key>
    <string>FluentSpectrumViaSimple</string>
    <key>replaySoft</key>
    <string>KnownToastAbleCreator</string>
    <key>detectEarth</key>
    <string>LedgerMarkWalk</string>
    <key>splendidFinishConductor</key>
    <string>TorchSpotDiagramCacheParameter</string>
</dict>
</plist>
