<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>dataSourceMapperSelect</key>
    <string>ViaBeginWilling</string>
    <key>amongStable</key>
    <string>HandleDismissPragmatic</string>
    <key>facadeIntenseStay</key>
    <string>FromIterativePrint</string>
    <key>ofRetreat</key>
    <string>AlongOutline</string>
    <key>collectorHintedListviewContinue</key>
    <string>SnapshotterWidescreenMindfulOnComposer</string>
    <key>overlayResize</key>
    <string>MessageHighlightSong</string>
    <key>builderOrchardWatch</key>
    <string>BeginOverLuminous</string>
</dict>
</plist>
