<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>tameTransformableKeypath</key>
    <string>HeaderRefinedMeadow</string>
    <key>speckledDataSourceWarehouseOpen</key>
    <string>ControlLineSturdyCompress</string>
    <key>balancerHighlightExpanded</key>
    <string>IntoIterativeViewModelEnergeticSpeckled</string>
</dict>
</plist>
