<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>referenceObjectPureDecompress</key>
    <string>ConsolidateRenderTwist</string>
    <key>briefReplace</key>
    <string>OrganizerSchedulerPack</string>
    <key>resizeCozy</key>
    <string>ArtfulBasinControlPainterLayout</string>
    <key>equalDefineMoorInsert</key>
    <string>SafeStopCarefreeHandler</string>
    <key>fabricGulfMap</key>
    <string>ControllerOverlayWord</string>
</dict>
</plist>
