<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>earthDataSourceGreen</key>
    <string>WorkflowAnimatorProgramApply</string>
    <key>themeTrail</key>
    <string>RiverPaintCore</string>
    <key>triumphVisitorConvert</key>
    <string>HelperPlainConverterRelay</string>
    <key>revokeConverterOutputFirm</key>
    <string>AccelerateMistDecorator</string>
    <key>receiveLeap</key>
    <string>TriumphTimelineRustic</string>
    <key>resolverSturdyAmid</key>
    <string>QuirkMarkObvious</string>
    <key>magicFluentBuilderValidate</key>
    <string>ToneInfinityCoreMind</string>
    <key>templateDecodeElemental</key>
    <string>GulfReturnAmongDainty</string>
    <key>fabricUrbanHide</key>
    <string>BeginOutlineTransformNearPetal</string>
</dict>
</plist>
