<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>trueCascadeCancelOwner</key>
    <string>RenderDropBrokerClear</string>
    <key>withinPainterComplexLeaf</key>
    <string>LaunchComputeTemplateComposer</string>
    <key>presenterRelief</key>
    <string>PositiveJunctionImplement</string>
    <key>painterLockWisdom</key>
    <string>InteractorToAdapterPrimal</string>
    <key>formatterPastTuple</key>
    <string>CoordinateDawnWithout</string>
    <key>stylerVivid</key>
    <string>BeyondOffCrisp</string>
    <key>viewportSereneThornRefresh</key>
    <string>TextureLucidBirchGorgeCompress</string>
</dict>
</plist>
