<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>neutralScene</key>
    <string>DispatchPushSurface</string>
    <key>shapeRenderClassSpatial</key>
    <string>StylerLaneInsideWith</string>
    <key>lastingCompare</key>
    <string>InsertDramaticPersist</string>
    <key>oasisSubtleOrchestratorFinish</key>
    <string>FileTertiaryOverStem</string>
    <key>cleanUnityLoaderSurface</key>
    <string>ToastPlayful</string>
</dict>
</plist>
