<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>warySkillFormatterMultiply</key>
    <string>TrueVerseLush</string>
    <key>mindDefineCalculate</key>
    <string>UtilityBeginWealthy</string>
    <key>showSpiritedFrameworkSaver</key>
    <string>PrimalTheoryInterpreterMake</string>
</dict>
</plist>
