<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>privateTeamOpenDecorator</key>
    <string>FairZoneFabricThroughoutVector</string>
    <key>visualizeFaint</key>
    <string>BuildOptimizeFinishHandle</string>
    <key>alongTuple</key>
    <string>DecoderRefreshCourierWorkbench</string>
    <key>lawfulSendDefineTower</key>
    <string>NearDatasetterGradientLeaf</string>
    <key>replayAbleFabric</key>
    <string>TableInstanceSolutionNavigate</string>
    <key>mysticPrimal</key>
    <string>ModuleStylerFeasibleSplendidWorld</string>
</dict>
</plist>
