<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>modifyParametricJasperViewport</key>
    <string>SurfaceExpandRoundHide</string>
    <key>gladCalculateScrollViewBuilder</key>
    <string>WorkbenchRetreatEdgeSwirl</string>
    <key>saverManageScale</key>
    <string>ResizeTransformableResume</string>
    <key>balancerResize</key>
    <string>ReflectFlexibleInterpreter</string>
    <key>filterTrain</key>
    <string>AccelerateCacheStrength</string>
</dict>
</plist>
