<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>enqueueWorkflowAnimatorContent</key>
    <string>VictoriousDismiss</string>
    <key>indexCataloger</key>
    <string>BaselineHarnessConsistentPause</string>
    <key>insideCozy</key>
    <string>MapSnapshotterDispatchMessage</string>
    <key>darkPreviewImplementPortal</key>
    <string>ResetForestFacade</string>
    <key>terrainBareCollectorMerge</key>
    <string>AtlasMapHeartyDiagramSpriteTranslate</string>
    <key>revokeLineTransformerDefinite</key>
    <string>IntimateBelowViewportThrottle</string>
    <key>saverHealthy</key>
    <string>PrintFlatGladPath</string>
</dict>
</plist>
