<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>selectCycleRational</key>
    <string>BoardFondConverterDismiss</string>
    <key>dapperAnimate</key>
    <string>HazeDuringTreatSort</string>
    <key>intuitiveOrganizerCompressDeep</key>
    <string>MoveSplitTypeStore</string>
    <key>templateModuleLaunch</key>
    <string>CalibrateWealthLayout</string>
    <key>spectrumCatalogCreateFond</key>
    <string>HeaderBeforeColumn</string>
    <key>viewportCreator</key>
    <string>LockCoreDelegatePreview</string>
    <key>balancerDivider</key>
    <string>BrilliantBreezyPresenter</string>
    <key>performWorkbenchOriginSmart</key>
    <string>ShoreLegacyVia</string>
    <key>wholeVoyageBinderMake</key>
    <string>InitializeGateStencil</string>
</dict>
</plist>
