<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>displaySelectorGorgeIntuitive</key>
    <string>AnalyzeReliefSuite</string>
    <key>brokerTrendVictoriousModify</key>
    <string>TrainAround</string>
    <key>majorPlannerThread</key>
    <string>ModelPrintLockRelief</string>
    <key>appendWanderWorkflowAnimatorEnergetic</key>
    <string>ViewportLanguageParse</string>
    <key>desertMergeReference</key>
    <string>FormatterShareDale</string>
    <key>goodResolver</key>
    <string>CreatorTempleLean</string>
</dict>
</plist>
