<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>brilliantPlannerCenterTheory</key>
    <string>ThroughFriendlyConnectorEngine</string>
    <key>assemblerTwistAccept</key>
    <string>FabricAfterApplyBalancer</string>
    <key>plushBroker</key>
    <string>GroupCoordinateSceneDocument</string>
    <key>highlightProviderOrbitElevated</key>
    <string>OptionWithoutParser</string>
    <key>wholeLaunch</key>
    <string>AnalyzeEngineCatalogerThemeMystic</string>
    <key>assemblerGracefulLocalize</key>
    <string>ElevatedAfterDrySpontaneous</string>
</dict>
</plist>
