<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>splitTuneRustic</key>
    <string>ComposeOpen</string>
    <key>parallelDisplayCircle</key>
    <string>GroveReorderHistory</string>
    <key>instanceCollection</key>
    <string>DelegateSearchProper</string>
    <key>willingStringContinueDefine</key>
    <string>InformationVistaReorder</string>
    <key>hazeGlad</key>
    <string>FigureShadowDecorate</string>
    <key>highlightShadowedInference</key>
    <string>StoreKeypathEnvelope</string>
    <key>offsetHandler</key>
    <string>EnqueueEminentCenter</string>
    <key>besideIterative</key>
    <string>PluginOptimalGifted</string>
</dict>
</plist>
