<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>stripeFor</key>
    <string>ViewByStructure</string>
    <key>detailHasty</key>
    <string>UntilBlendComputeGateway</string>
    <key>collectionFallsJoyful</key>
    <string>UntilCandidParsePlaza</string>
    <key>warmWorldPlay</key>
    <string>AfterChipTemplate</string>
    <key>referenceOfGraciousBlueprint</key>
    <string>ObserverShuffleToHelper</string>
    <key>preloadFancyPlannerRadius</key>
    <string>AbovePresenterEndWrapper</string>
    <key>graveReceiveWrapperEcho</key>
    <string>ComposeBurstDigital</string>
    <key>tableScale</key>
    <string>GradientGentlePositionReady</string>
    <key>trendClassSequenceIconic</key>
    <string>AppendBuilderTracker</string>
</dict>
</plist>
