<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>writeComposer</key>
    <string>YearOceanProvider</string>
    <key>observerSearchArchiveBright</key>
    <string>ConfigArrayLuckyHappy</string>
    <key>derivePassive</key>
    <string>LimitMirrorWiseGradual</string>
    <key>mixerAggregatorExactLayout</key>
    <string>ListPresenterGroupAcross</string>
</dict>
</plist>
