<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>blockOnto</key>
    <string>AnalyzeDelegate</string>
    <key>binderWhole</key>
    <string>StylerShadedParallel</string>
    <key>removeDiagramCataloger</key>
    <string>WidgetWriteShoreEarth</string>
</dict>
</plist>
