<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>workbenchDepotSchedule</key>
    <string>DiscreteSilverBroadSearchOf</string>
    <key>elevateCompatible</key>
    <string>CacheSetContinueMenuWait</string>
    <key>fontSpectrumKnownParse</key>
    <string>PathwayLayoutEnum</string>
    <key>sendTimelyCrownCataloger</key>
    <string>PostboxFrom</string>
    <key>navigatePainterDeepEveryday</key>
    <string>SublimeWorkflowAnimatorPayload</string>
    <key>signerPixelFineReset</key>
    <string>HarnessAnimateSupplyDismiss</string>
    <key>collectorKeySoftDeliver</key>
    <string>AcceptLaunchSereneCoordinate</string>
</dict>
</plist>
