<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>messageUpdaterUpward</key>
    <string>ExtractResumeClass</string>
    <key>wreathWholeOntoController</key>
    <string>WriteNamespaceSymbol</string>
    <key>magnetAssemble</key>
    <string>OutsideDecoratorVaporPine</string>
    <key>audioMaskModestTexture</key>
    <string>UpdaterYieldSpatialIconPack</string>
</dict>
</plist>
