<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>registerMature</key>
    <string>PreloadSteamUntil</string>
    <key>terminalBravePersistStyle</key>
    <string>AssemblerJungleScaffoldCancel</string>
    <key>rendererAvatarCompute</key>
    <string>PineOntoPastListener</string>
    <key>calmWait</key>
    <string>TorchSilverOrchestratorContainerCoordinator</string>
    <key>afterSuite</key>
    <string>NodeRecordBrokerFluke</string>
</dict>
</plist>
