<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>privateFocus</key>
    <string>VisitorRunHoldLeap</string>
    <key>behindSignerPoplar</key>
    <string>WaitLaunchFillExpand</string>
    <key>primeScrollViewOwnerConfigure</key>
    <string>MarkerQuickInferenceEarth</string>
    <key>flameAgainst</key>
    <string>WellExpandBalancer</string>
    <key>jasperResolverIndexLasting</key>
    <string>TabviewOriginFinish</string>
</dict>
</plist>
