<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>thoroughMoveFlowWorkbench</key>
    <string>FreeSnappyEmberWithinReturn</string>
    <key>converterScaffoldSymmetric</key>
    <string>ExactPreviewFormatter</string>
    <key>fabricAttach</key>
    <string>ThornRealImplement</string>
    <key>daintyPreview</key>
    <string>LiberalDelegateSplit</string>
    <key>seamlessEmber</key>
    <string>DistinctReset</string>
    <key>diamondSelector</key>
    <string>SolidScopeCrown</string>
    <key>waitGranularMist</key>
    <string>MainDownLayoutAlongside</string>
</dict>
</plist>
