<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>safeConductorArchive</key>
    <string>SuiteJourneyBeside</string>
    <key>selectShore</key>
    <string>FormatterCavernPeerlessKey</string>
    <key>fetchMobile</key>
    <string>CollectionLooseRadar</string>
    <key>nobleDirectory</key>
    <string>ClearFreshIsland</string>
    <key>aroundSaverCalmBasin</key>
    <string>OnUtmostMeasure</string>
    <key>workflowAnimatorGroveSplitOrnate</key>
    <string>HappyValley</string>
</dict>
</plist>
