<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>removeCoreGigantic</key>
    <string>ReliableIndexSensor</string>
    <key>layoutBonny</key>
    <string>QuillAddDale</string>
    <key>binaryComposerSerene</key>
    <string>SaveAboveKnackPrimal</string>
    <key>suitePassiveSubmitPower</key>
    <string>EverydayScale</string>
    <key>happySync</key>
    <string>CanyonMixerAbove</string>
    <key>ownerPrivate</key>
    <string>TriumphStoryLayoutWood</string>
</dict>
</plist>
