<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>natureHoldChiefParser</key>
    <string>GenericTranslateStyle</string>
    <key>catalogerUntilNatural</key>
    <string>AcceptSparkSpacerReady</string>
    <key>enableDialogSnapshotter</key>
    <string>OperatorUnderText</string>
    <key>firmBelow</key>
    <string>AmidOpenTableLibrary</string>
    <key>harmonyWhole</key>
    <string>TemplateElegant</string>
    <key>plannerGreat</key>
    <string>InterpreterQuietForceful</string>
</dict>
</plist>
