<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>chatLocalizeVocal</key>
    <string>ButtonTemplateJungle</string>
    <key>persistPainter</key>
    <string>ListenerRoundAmong</string>
    <key>journeyProper</key>
    <string>ValidatorEpisodeFrom</string>
    <key>saturatedCableWrite</key>
    <string>FriendlyComposeImplement</string>
    <key>pacificVector</key>
    <string>GraphUpgradeKeyframeHide</string>
</dict>
</plist>
