<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>managerStringAttachCarefree</key>
    <string>BuoyantOperandMarkRotate</string>
    <key>ledgerCreatorDry</key>
    <string>BrookChipEminentQuintessential</string>
    <key>saturatedCounter</key>
    <string>SaveRegisterProud</string>
    <key>silentPlannerTooltip</key>
    <string>RemoveMightDecoratorFrost</string>
    <key>carefulProjectCoderStyler</key>
    <string>CoordinatorPlotTracker</string>
    <key>wanderProviderTryChief</key>
    <string>DrawProviderGenerateForce</string>
</dict>
</plist>
