<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>tuneFabricLaunchLively</key>
    <string>RunOptionEngine</string>
    <key>conduitAdd</key>
    <string>PieceHideBuffer</string>
    <key>tooltipSigner</key>
    <string>PetalReorderGetChargeFlora</string>
    <key>parserTuple</key>
    <string>FloraQueryPowerPortraitTransformable</string>
    <key>figureBlitheRepaint</key>
    <string>CollectionReorderPlushValidator</string>
    <key>luminousSourceViaEnum</key>
    <string>TowardFocalObserver</string>
</dict>
</plist>
