<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>forceCancelAggregatorStern</key>
    <string>BinderMarginGetRelease</string>
    <key>knownScaleOrchestrator</key>
    <string>DriveDriverBalancer</string>
    <key>eminentImportPlatform</key>
    <string>ComposerUponCollection</string>
    <key>directComposerCascadeTheme</key>
    <string>DashboardTransformerNorth</string>
    <key>painterHeavenQualityUpdate</key>
    <string>ResizeDelegate</string>
    <key>highlightGraphLargeCore</key>
    <string>TranslateUrbanConverterCache</string>
    <key>collectionHelixMindfulWait</key>
    <string>MultiplyEnumCreateOasis</string>
    <key>brilliantComposer</key>
    <string>AvatarCrownTranslate</string>
    <key>triangleVocalTrackerScale</key>
    <string>InKeyframeTransformableForward</string>
    <key>belowCoreSecondaryJet</key>
    <string>AmongProjectLinkFeather</string>
</dict>
</plist>
