<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>plannerAmong</key>
    <string>NucleusModestTarget</string>
    <key>aggregatorSubtle</key>
    <string>MapGenerateDistinctiveScale</string>
    <key>centerAgileSuiteSummit</key>
    <string>OwnerClassicConsumePlace</string>
    <key>saveAxis</key>
    <string>SeaButtonBlendOwl</string>
    <key>qualityCache</key>
    <string>AnalyzeAtomicRegistryReservoir</string>
</dict>
</plist>
