<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>poplarScatterProviderThreaded</key>
    <string>CompressHelperHandlerHandler</string>
    <key>formalCableSelect</key>
    <string>ElevatorWrapperMap</string>
    <key>collectionAppendFeasible</key>
    <string>VerifyDetectAdaptiveIndexAlcove</string>
    <key>wildProviderDecode</key>
    <string>HorizonMacroGood</string>
    <key>originalSigner</key>
    <string>ClassDownSendExtractEveryday</string>
</dict>
</plist>
