<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>errorWinsomeReceiveConnector</key>
    <string>SignatureAggregatorDigital</string>
    <key>justGatewayFind</key>
    <string>CandidMainWrapper</string>
    <key>helperRoundPassiveShortcut</key>
    <string>GenerousEnum</string>
    <key>decompressWorkbenchOriginSound</key>
    <string>PaintSlipBinder</string>
</dict>
</plist>
