<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>expertEnumAlignStay</key>
    <string>VerifyCalmDecoratorSpringIn</string>
    <key>handlerLegacy</key>
    <string>CircuitCalibrateOptimize</string>
    <key>snapshotterSleekBanner</key>
    <string>SortSheetNotebookRefresh</string>
    <key>joyfulDynamicFinishPainter</key>
    <string>OnCentral</string>
    <key>pluginAerial</key>
    <string>InfiniteDownRendererMuse</string>
    <key>uniqueAmong</key>
    <string>BackupImprovedUpwardCounter</string>
</dict>
</plist>
