<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ownerControl</key>
    <string>SiteDivider</string>
    <key>catalogerLeapOutsideReflexive</key>
    <string>PainterCanyonAbundant</string>
    <key>orchestratorScrollInsight</key>
    <string>MineUpdaterAnimateDome</string>
    <key>getArchive</key>
    <string>DuringIconExportLoad</string>
    <key>fixCoreSupremeWater</key>
    <string>UtmostWatchTrimAlongside</string>
</dict>
</plist>
