<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>nobleFromSourceStencil</key>
    <string>ConnectorMatchPresent</string>
    <key>visibleVerifyArchive</key>
    <string>TrailParseCommand</string>
    <key>sageThreaded</key>
    <string>MaskShortcutArraySigner</string>
    <key>connectorIncrementalEnd</key>
    <string>SteamStopLightmap</string>
</dict>
</plist>
