<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>templateTeam</key>
    <string>NeatTransformableDatasetterShadow</string>
    <key>localizeHost</key>
    <string>FriendlyPresentImport</string>
    <key>textLock</key>
    <string>EnqueueStoryNode</string>
    <key>standStyler</key>
    <string>NavigateHeaderPacificNovel</string>
    <key>renderBuilder</key>
    <string>ModeUniqueComposer</string>
    <key>composerThicketPersistTrusted</key>
    <string>PlazaControllerFlame</string>
    <key>helperCentralLevelFinish</key>
    <string>MultiplyLedger</string>
    <key>manageShaderImprovedBegin</key>
    <string>BuilderPackSceneTransformer</string>
</dict>
</plist>
