<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>coherentAcceptUpdaterStand</key>
    <string>CatalogerHelperThroughTimelineReport</string>
    <key>driverClassPrint</key>
    <string>LocalizePeacefulTemplateBuilder</string>
    <key>secureEventDatasetter</key>
    <string>OnFrostSea</string>
    <key>solutionModifyUpdater</key>
    <string>SenseLocalizeModify</string>
    <key>ridgeHandle</key>
    <string>ContainerInitializeFrostBraveOnto</string>
</dict>
</plist>
