<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>nobleLogic</key>
    <string>TemplatePhoenixHappy</string>
    <key>mirrorPhase</key>
    <string>OutputChargeMatch</string>
    <key>holdWhisperSturdyBuilder</key>
    <string>ThroughoutThemeBehind</string>
    <key>vocalCollectionRotate</key>
    <string>OptimizeDashboardOffReflect</string>
</dict>
</plist>
