<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>formatQuintessentialLeafRenderer</key>
    <string>EminentSelectorHighlight</string>
    <key>createRouteReady</key>
    <string>ParcelPolishedTheme</string>
    <key>workflowAnimatorOdd</key>
    <string>QuietNotableRugged</string>
    <key>suiteSpotSave</key>
    <string>DirectorySendSchedule</string>
</dict>
</plist>
