<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ledgeCreator</key>
    <string>MatchNavigationBarIntactOnSpectrum</string>
    <key>outlinedSyncWorkbenchCascade</key>
    <string>BriefFontBegin</string>
    <key>holdCoordinatorUpward</key>
    <string>ScaleScaleTexture</string>
</dict>
</plist>
