<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>staySurfaceInitialize</key>
    <string>ReportEnumNode</string>
    <key>recordBuilderPacificWealth</key>
    <string>PrintTupleBalancer</string>
    <key>stayFactoryIntimateWait</key>
    <string>PaletteTimelyPainterCompute</string>
    <key>clearDurable</key>
    <string>HorizonCoreCoreBuilder</string>
</dict>
</plist>
