<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>makeThemeLiberal</key>
    <string>DeltaDispatchClose</string>
    <key>attachModalOwl</key>
    <string>AmidRadiantDrive</string>
    <key>wellPrompt</key>
    <string>BuilderGentleViewportExpand</string>
    <key>majorReleasePanel</key>
    <string>MapDelegateLocalizeBound</string>
    <key>helperDuringWillingNode</key>
    <string>InControlTextureThicket</string>
    <key>endCelestialInspectorVisitor</key>
    <string>StencilStopTool</string>
    <key>parametricImplement</key>
    <string>BehindPortHillCareful</string>
</dict>
</plist>
