<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>holdLandscapeTransformableParallel</key>
    <string>BuilderAtUnifiedLattice</string>
    <key>presentWholeStep</key>
    <string>AbundantLocalizeHumor</string>
    <key>crossLoyalClass</key>
    <string>EntryCancelExpand</string>
</dict>
</plist>
