<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>printDirect</key>
    <string>CollectorFocusExtractRegister</string>
    <key>pathwayOutsideBrilliantDataSource</key>
    <string>OrchestratorTrySpiceTrain</string>
    <key>secondaryArrayAtTransit</key>
    <string>PersistSunChasmOverlay</string>
    <key>sourceOutline</key>
    <string>VisitorPushOverlayPresenter</string>
    <key>targetPrint</key>
    <string>SnapshotterMindReplayHandler</string>
</dict>
</plist>
