<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>voiceLockVisible</key>
    <string>ModifyDarkPresenter</string>
    <key>schedulerResumeNotebook</key>
    <string>OrchestratorBonnyStopTimeless</string>
    <key>keyChief</key>
    <string>MajorAgentMuse</string>
    <key>livelyAudioScale</key>
    <string>ConvertIndexAssembler</string>
    <key>stencilThemeConfigureExpert</key>
    <string>ExpandScheduleRotate</string>
    <key>frameworkByTonalEnum</key>
    <string>OverDownOptimal</string>
    <key>saveTriggerStencilIdeal</key>
    <string>PointExtractFix</string>
    <key>toolbarDatasetterAccelerateVisible</key>
    <string>MindfulThroughSave</string>
    <key>modernInterpreter</key>
    <string>InletResume</string>
    <key>vibrantDecodePlannerCascade</key>
    <string>OnProvisionDecompressInsert</string>
</dict>
</plist>
