<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>collectorSynchronizerCarefreeBind</key>
    <string>AgileMobileGracious</string>
    <key>lakeSleekInsert</key>
    <string>ReleaseSelectorFixture</string>
    <key>angleParser</key>
    <string>TimelineJungleScene</string>
    <key>timelineCompactTooltip</key>
    <string>TruthInformationBefore</string>
    <key>layoutAssembler</key>
    <string>PlayLayoutOrbit</string>
    <key>runBreezy</key>
    <string>FaintTabviewAlignFromCelestial</string>
    <key>templateBlitheExtractResolver</key>
    <string>PowerAccelerateCompress</string>
</dict>
</plist>
