<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>holisticShareAcrossPainter</key>
    <string>HarmlessFitFixtureSnackbar</string>
    <key>belowHelperSignature</key>
    <string>NodeTorchAtlasList</string>
    <key>dataSourceLaunchAtomic</key>
    <string>PortalScheduler</string>
    <key>policyGetEnum</key>
    <string>IdealIslandCollectorPainter</string>
    <key>helperThroughWoodFaithful</key>
    <string>AccountEnqueueCorePlanner</string>
    <key>mobileBesidePool</key>
    <string>WorkbenchTimelineAfterSound</string>
    <key>elevateInterpreterBreakLucid</key>
    <string>AmongHoldFacade</string>
</dict>
</plist>
