<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>fairValidateScanFacade</key>
    <string>OutlineTextureValidateHeader</string>
    <key>genuineImplementValidate</key>
    <string>TrustyFontAbstractOptimal</string>
    <key>cliffParallel</key>
    <string>BuilderDurableNear</string>
    <key>consumeViewModel</key>
    <string>ParserDataSourceOrchestratorIndex</string>
</dict>
</plist>
