<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>inFileTerminal</key>
    <string>PresenterDeriveLink</string>
    <key>typeForcefulFrom</key>
    <string>SortFocalTupleCreative</string>
    <key>sendHandler</key>
    <string>DataSourceUpAlongInto</string>
    <key>flexibleClean</key>
    <string>ImplementCheckElementCupertinoDome</string>
    <key>terseLayoutMind</key>
    <string>OuterToastSwirlSubtle</string>
</dict>
</plist>
